@import "tailwindcss";
@keyframes floatTruck {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-truck {
  animation: floatTruck 4s ease-in-out infinite;
}